* {
  --htw-gruen: #76B900;
  --htw-grau:#AFAFAF;
  --htw-orange:#FF5F00;
  --htw-blau:#0082D1;
  --htw-font:Verdana, Geneva, sans-serif;
}
body{
  font-family: var(--htw-font);
  text-align: center;
}
section {
  padding-left: 10%;
  text-align: left;
}
table{
  width: 80%;
  margin: 10px auto;
  border-color: var(--htw-grau);
  border-width: 2px;
  border-style: solid;
  border-collapse: collapse;
  box-shadow: 7px 5px 7px grey;
}
thead{
  background: var(--htw-gruen);
  color:white;
}
td, th{
  padding-left: 15px;
  border: 1px solid grey;
}

